#############################################
# Ignorar arquivos/pastas no Git            #
# Data: 06/05/2024                          #
# Autor: Vittor Henrique                    #
#############################################

.vs/