
<form id="formCadastroBeneficiario" >
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="lblCpf" name="lblCpf" for="txtCpf">CPF:</label>
                <input required="required" type="text" class="form-control" id="txtCpf" name="txtCpf" maxlength="14">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="lblNome" name="lblNome" for="txtNome">Nome:</label>
                <input required="required" type="text" class="form-control" id="txtNome" name="txtNome" placeholder="Ex.: João da Silva" maxlength="50">
            </div>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-md btn-success" style="margin-top: 25px;">Incluir</button>
        </div>
    </div>
</form>
